html {
	min-height: 100%;
	background: linear-gradient(to bottom, white, black);
}

body {
	font-family: "Courier New", monospace;
	font-weight: normal;
	font-size: 1em;
	letter-spacing: 0.02em;
	word-spacing: 0.1em;
	line-height: 1.35em;
	text-align: center;
	color: black;
}

#content {
	width: 70%;
	max-width: 800px;
	display: inline-block;
	overflow: auto;
}

#ihavefivehat_logo {
	background-color: rgb(252, 252, 252);

	width: 99%;
	max-height: 140px;
	display: inline-block;

	border-width: 1px;
	/* border-left-width: 3px;
	border-right-width: 3px; */
	border-style: dashed;
	border-color: black;

	padding: 1px;
	
	overflow: hidden;
}

#ihavefivehat_logo p {
	color: rgb(74, 74, 74);

	font-family: "Courier New";
	font-size: 19px;
	font-style: normal;
	text-align: center;
	font-weight: normal;

	line-height: 1.5;
	text-align: left;

	letter-spacing: 10px;
	word-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;

	padding: 1.5em;
	padding-top: 0.01em;
	padding-bottom: 0.01em;
}


#ihavefivehat_logo a {
	color: black;
	/* font-style: italic; */
	/* font-weight: bold; */
	text-decoration: none;
	word-break: break-word;
}


#ihavefivehat_logo a:hover, #ihavefivehat_logo a:focus {
	font-weight: bold;
}


#subsection_links {
	display: inline-block;

	/* font-weight: lighter; */
	/* font-variant: small-caps; */
	/* font-style: italic; */

	/* letter-spacing: 0.25em; */

	text-align: center;
	text-indent: 5px;

	margin: 5px;
	margin-bottom: 4px;
}


#subsection_links .link {
	display: inline-block;

	background-color: white;
	
	border-color: grey; 
	border-style: outset;
	border-width: 3px;

	color: black;
	font-size: 1.1em;
	text-decoration: none;

	padding-top: 2.5px;
	padding-bottom: 2.5px;
	padding-left: 2.5px;
	padding-right: 6px;
}


#subsection_links .selected_link {
	background-color: lightgrey;

	border-style: inset;

	/* color: red; */
	/* font-weight: bold; */
	font-style: italic;
	text-decoration: none;
}


#subsection_links a:focus, #subsection_links a:hover {
	background-color: lightgray;
	
	/* color: red; */
	font-style: italic;
}


#subsection_links .bookend {
	display: inline-block;
}


#main_body {
	display: inline-block;

	/* color: black; */

	background-color: rgb(240, 240, 240);

	width: 92.5%;

	margin: 4px;
	padding: 20px;

	border-style: solid;
	border-width: 1px;
}


#main_body h1 {
	display: inline-block;
	text-align: center;

	/* font-variant: small-caps; */
	font-style: italic;
	font-size: 25px;
	font-weight: lighter;

	background-color: white;

	border-width: 1px;
	border-style: dotted;
	/* border-color: gray; */

	padding: 8px;
	/* padding-left: 13px; */
	/* padding-right: 13px; */
	
	margin: 10px;
	margin-bottom: 1em;
}


#main_body p {
	margin: 0px;
	margin-bottom: 1em;
	text-align: left;
}


#main_body a {
	color: #3c3c3c;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-decoration-style: dotted;
	text-underline-offset: 2px;
}


#main_body a:focus, #main_body a:hover {
	font-style: italic;
}


#main_body a:visited {
	color: #5d5d5d;
}


#main_body ul, ol {
	color: black;
	font-style: italic;
	font-size: 1em;
	line-height: 1.5em;
	text-align: left;
	/* padding: 0px; */
}


#game_entry_holder {
	display: inline-block;
	/* width: 94%; */
	/* padding: 10px; */
}

.game_entry {
	display: inline-block;
	text-align: left;
	/* width: 99%; */
	margin-bottom: 10px;
	background-color: white;
	border-width: 1px;
	border-style: dotted;
	border-color: grey;
	padding: 10px;
}

.game_entry_image_section {
	display: inline-block;
	vertical-align: middle;
	width: 19%;
	min-width: 135px;
	height: 100%;
}

.game_entry_image_section img {
	display: inline-block;
	vertical-align: middle;		
	width: 125px;
	height: 125px;
	overflow: hidden;	
	border-style: double;
	border-color: gray;
	border-width: 3px;
}

.game_entry_image_section img:hover {
	border-color: lightgray;
}

.game_entry_text_section {
	display: inline-block;		
	width: 78.5%;
	height: 100%;
	vertical-align: top;
}

#game_entry_holder h2 {
	vertical-align: top;
	line-height: 1.5em;
	color: black;
	font-weight: normal;
	font-size: 1.3em;
	/* font-variant: small-caps; */
	font-style: normal;
	text-decoration: none;
	margin: 0px;
	/* word-spacing: -0.3em; */
}

#game_entry_holder h2 a {
	color: black;
}

#game_entry_holder a:visited {
	color: black;
}

@media only screen and (orientation: portrait) {
	#content {
		width: 95%;
		min-width: 0px;
	}
	#subsection_links {
		width: 100px;
	}
	#subsection_links .link {
		margin-bottom: 5px;
	}
	.game_entry_image_section {
		width: 100%;
	}
	.game_entry_text_section {
		width: 100%;
	}
	.game_entry_text_section p {
		text-align: center;
	}
}