html {
	box-sizing: border-box;
	min-height: 100%;
	background: linear-gradient(to bottom, white, black);
	padding: 0px;
	margin: 0px;
}


*,
*::before,
*::after {
	box-sizing: inherit;
	padding: 0px;
	margin: 0px;
}


body {
	color: black;
	font-family: "Courier New", monospace;
	font-weight: normal;
	font-size: 1em;
	letter-spacing: 0.02em;
	word-spacing: 0.1em;
	text-align: center;
}



#content {
	display: block;
	width: 70%;
	max-width: 800px;
	padding: 10px 0px 10px 0px;
	margin: auto;
	line-height: 1em;
	overflow: auto;
}


#ihavefivehat_logo {
	background-color: rgb(252, 252, 252);
	max-height: 140px;
	
	padding: 0.725em 1em;
	
	border-width: 1px;
	border-style: dashed;
	border-color: black;
	
	margin: 0px auto;
	
	overflow: hidden;
}

#logo_string {
	display: inline;

	color: rgb(74, 74, 74);
	font-family: "Courier New";
	font-size: 19px;
	font-style: normal;
	text-align: center;
	font-weight: normal;

	line-height: 1.5;
	text-align: center;

	letter-spacing: 10px;
	word-spacing: 0px;
	word-wrap: break-word;
	white-space: pre-wrap;

	overflow: hidden;
}

#ihavefivehat_logo a {
	color: black;
	text-decoration: none;
	word-break: break-word;
}

#ihavefivehat_logo a:hover, #ihavefivehat_logo a:focus {
	font-style: italic;
}


nav {
	text-indent: 5px;
	margin: 15px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 4px;
}

nav a {
	min-width: 158px;
	min-height: 3em;

	background-color: white;
	color: black;
	font-size: 1.1em;
	text-decoration: none;

	/* text looks a bit nicer with more padding on right */
	padding: 7px 10px 7px 7px;

	border: 3px grey outset;

	display: flex;
	justify-content: center;
	align-items: center;
}


nav .selected-link {
	background-color: lightgrey;

	border-style: inset;

	font-style: italic;
	text-decoration: none;
}


nav a:focus, nav a:hover {
	background-color: lightgray;	
	font-style: italic;
}


nav .bookend {
	display: inline-block;
	min-width: 35px;
}


main {	
	background-color: rgb(240, 240, 240);
	
	width: 99%;

	line-height: 1.1em;

	padding: 15px 40px 15px 40px;
	
	border-style: solid;
	border-width: 1px;
	
	margin: auto;
}


main h1 {
	display: inline-block;
	text-align: center;

	background-color: white;
	
	font-size: 25px;
	font-weight: lighter;
	line-height: 1em;

	padding: 8px;
	
	border: 1px hidden;
	
	margin: 10px;
	margin-bottom: 1em;
}


main p {
	text-align: left;

	margin: 0px;
	margin-bottom: 1em;
}


main a {
	color: #3c3c3c;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-decoration-style: dotted;
	text-underline-offset: 2px;
}


main a:focus, main a:hover {
	font-style: italic;
}


main a:visited {
	color: #5d5d5d;
}


main ul, ol {
	color: black;
	line-height: 1.5em;
	text-align: left;

	padding: 0px 0px 0px 1.5em;
}


main hr {
	display: inline-block;
	width: 90%;
	margin: 1.5em auto;
}


/* A div that holds all the game entries */
#game-entry-holder {
	display: flex;
	flex-direction: column;
}

.game-entry {
	background-color: white;
	padding: 16px;
	border: 1px dotted grey;
	margin-bottom: 10px;
	display: flex;
	gap: 16px;
}

.game-entry .left {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
}

.game-entry h2 {
	color: black;
	text-align: left;
	font-weight: normal;
	font-size: 1.3em;
	font-style: normal;
	text-decoration: none;
	margin: 0px 0px 0.5em 0px;
}

.game-entry h2 a {
	color: black;
}

.game-entry h2 a:visited {
	color: black;
}

.game-entry .right {
	flex: 0 0 auto;
	min-width: 135px;
	display: flex;
	justify-content: end;
	align-items: center;
}

.game-entry .right a {
	flex: 1;
	display: flex;
	justify-content: end;
	align-items: center;
}

.game-entry img {
	flex: none;
	width: 125px;
	height: 125px;
	overflow: hidden;	
	border-style: double;
	border-color: gray;
	border-width: 3px;
}

.game-entry img:hover {
	border-color: lightgray;
}

.bookend {
	display: inline-block;
	margin: 0.5em 1em 1em 1em;
}

@media only screen and (orientation: portrait) {
	#content {
		width: 95%;
		min-width: 0px;
	}
	nav {
		flex-direction: column;
	}
	nav .bookend {
		visibility: hidden;
		width: 0px;
		height: 0px;
		margin: 0px;
	}
	nav ul {
		flex-wrap: wrap;
		justify-content: center;
	}
	.game-entry {
		flex-direction: column;
		align-items: center;
	}
	.game-entry .left a {
		justify-content: center;
	}
	.game-entry .right {
		justify-content: center;
		align-items: center;
	}
	.game-entry .right p {
		text-align: center;
	}
}