body {
	padding: 20px;
	background-color: aliceblue;
	font-size: 1.25rem;
	font-family: "Comic Sans MS";
	color: darkblue;
}

li {
	margin-bottom: 0.6rem;
}

@media only screen and (max-width: 768px) {
	body {
		font-size: 1.2rem;
	}
}